#board {
  display:flex;
  flex-wrap: wrap;
  width: 800px;
  border-style: solid;
  justify-content: center;
  padding: 20px;
  background-color: #0417c7;

}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.column {
	height: 100%;
	width: 100%;
	flex-direction: column;
	/* align children in columns instead of rows */
}


.square {

  	border: 1px solid rgba(0, 0, 0, 0.75);
  	height: 100px;
  	user-select: none;
  	width: 100px;
    border-radius: 50px;
    margin: 3px 3px;
    background-color: white;


}
