body {
	text-align: center;
	font-family: "Roboto", monospace;
	background-color: lightblue;
}
.header{
	background-color:black;
  color:white;
	overflow:hidden;
}
.header a{
	float: left;
  color: #f2f2f2;
	background-color: #000000;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 16px;
}
.header a:hover{
	background-color:#ddd;
	color: black;
}
.header a.active{
	background-color:#4CAF50;
}
#board {
  display:flex;
  flex-wrap: wrap;
  width: 800px;
  border-style: solid;
  justify-content: center;
  padding: 20px;
  background-color: #0417c7;

}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.column {
	height: 100%;
	width: 100%;
	flex-direction: column;
	/* align children in columns instead of rows */
}


.squares {

  	border: 1px solid rgba(0, 0, 0, 0.75);
  	height: 100px;
  	user-select: none;
  	width: 100px;
    border-radius: 50px;
    margin: 3px 3px;
    background-color: white;


}
#reset-button {
	background-color: white;
	border: 1px solid black;
	color: black;
	font-size: 21px;
	line-height: 55px;
	margin: 1%;
	text-align: center;
	width: 456px;
}
#firstRed {
	background-color: grey;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

#firstRed:hover {
	background-color: lightgray;
	cursor: pointer;
}

#firstYellow {
	background-color: grey;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

#firstYellow:hover {
	background-color: lightgray;
	cursor: pointer;
}

#redScore {
	list-style-type: none;
	float: left;
  position:relative;
}

#yellowScore {
	list-style-type: none;
	float: right;
  position: relative;
}

#tieScore {
	list-style-type: none;
	/* float: right; */
}
